<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.inria.rsommerard.widi">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver class="fr.inria.rsommerard.widi.core.WiDiBroadcastReceiver"
            android:name="fr.inria.rsommerard.widi.core.WiDiBroadcastReceiver">
            <intent-filter android:priority="100">
                <action android:name="fr.inria.rsommerard.widi.CONNECT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
